<h1>Cadastro de alunos</h1>
<form action="add-aluno" method="post">
    <label for="nome_aluno">Nome</label>
    <input type="text" id="nome_aluno" name="nome_aluno">
    <button type="submit">Salvar</button>
</form>