<a href="/alunos">Voltar</a>
<h1>Edição de nome</h1>

<label for="edt_nome">Nome: </label>
<input type="text" id="edt_nome" name="edt_nome" value="{{aluno_nome}}">
<a href="/editar/{{edt-alunos}}"><button>Salvar</button></a>